<div><h4>{{navItemTitle}}</h4></div>

<img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxq5e4JzghlEAiwfMvqrlI7GQ1hFqBDJDVLcb1QRtgfx7OSGxc"/>

<div>
    <span>NAME:</span>
    <span>{{details[0]}}</span>
</div>

<div>
    <span>AGE:</span>
    <span>{{details[1]}}</span>
</div>

<div>
    <span>LOCATION:</span>
    <span>{{details[2]}}</span>
</div>

<div>
    <span>EXPERIENCE:</span>
    <span>{{details[3]}}</span>
</div>

<div>
    <span>DEGREE:</span>
    <span>{{details[4]}}</span>
</div>